:root {
    --text-color: black;
    --bg-color: white;
    --link-color: blue;
    --btn-text-color: #ffffff;
    --btn-bg-color: #f02e65;
    --toogle-bg-color: #dfe2e4;
    --header-background-color: #F8F9FA;
    --nav-text-color: #f02e65;
    --header-text-color: #1e849e;
}

.dark-mode {
    --text-color: white;
    --bg-color: black;
    --link-color: lightblue;
    --btn-text-color: #1c223a;
    --btn-bg-color: #c7d8eb;
    --toogle-bg-color: #c7d8eb;
    --header-background-color: #171D37;
    --nav-text-color: #c7d8eb;
    --header-text-color: #4caedb;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.button {
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    display: inline-block;
    border-radius: 26px;
    border: none;
    height: 52px;
    line-height: 52px;
    padding: 0 25px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonreverse {
    background: 0 0;
    height: 50px;
    line-height: 48px;
    padding: 0 23px;
    color: var(--btn-bg-color);
    border: solid 2px var(--btn-bg-color);
    border-radius: 26px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.a-link{
    color: var(--btn-bg-color);
    border: solid 2px var(--btn-bg-color);
    border-radius: 26px;
    background: 0 0;
    height: 50px;
    padding: 10px 23px;
    text-decoration: none;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 34px;
    height: 16px;
    background-color: var(--toogle-bg-color);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 12px;
    height: 12px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(18px);
}

.fa-moon {
    height: 8px;
    width: 8px;
    color: black;
}

.fa-sun {
    height: 8px;
    width: 8px;
    color: black;
}

.nav-menu-bg {
    background-color: var(--header-background-color);
}

.nav-menu-item {
    color: var(--nav-text-color)!important;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: transparent;
}

.nav-menu-active {
    font-weight: bold;
}

.nav-menu-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    color: var(--nav-text-color);
    text-decoration: none;
    white-space: nowrap;
    border: solid 2px var(--btn-bg-color);
    border-radius: 50px;
}

.text-color {
    color: var(--nav-text-color);
}

.header-text-color {
    color: var(--header-text-color);
}

.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
  }
  
  .timeline .timeline-item {
    position: relative;
  }
  
  .timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline .timeline-item:after {
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
  }