.body-style {
    display: block;
    background-color: #0d6efd;
    min-height: 100%;
    height: auto;
}

.main-content{
    min-height: calc(100vh - 60px);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

.bg-grey {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-teal {
    background-color: #008073 !important;
}
.cyan-text {
    color: #0d6efd;
}
.teal-text{
    color: #008073 !important;
}
.white-text{
    color: #fff;
}
